<style>
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
</style>

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -140px;
    width: 700px;
    height: 280px;
    display:flex;
    background-color: #fff;
    border-radius: 20px;
    box-shadow:hsl(212, 23%, 69%) 0px 0px 21px;
}
/*---------------------------------------------------*/
.container__image{
    width: 105%;
    overflow: hidden;
}

.container__image img{
    width: 350px;
    border-radius: 20px;
}


/*---------------------------------------------------*/
.container__content{
    /*background-color:blue;*/
    padding: 20px 40px;
}



.container__title{
    line-height: 18pt;
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.container__text{
    line-height: 14pt;
    color: hsl(217, 19%, 35%);
    
}

.container__contact{
    display: flex;
    align-items: center;
    
}

.container__info{
    flex:1;
}


.container__name{
    margin:0;
    margin-bottom: 3px;
    color: hsl(217, 19%, 35%);
}

.container__date{
    margin:0;
}

.container__avatar{
    width: 50px;
    margin-right: 20px;
    border-radius: 50%;
    color: hsl(217, 19%, 35%);
}

.container__photo{
    width:100%;
    border-radius: 50%;
}

.container__share{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    align-items: center;
    align-content: center;
    
}

.container__share img{
    transform: translate(50%, 0);
}